.git/
.github/
.gitignore

__pycache__/
frontend/
README.md
*.png

.session
credentials.json
token.json
erpcreds.py
erpcreds.py.template

api-integration-test.py
.Dockerfile-dev
docker-compose-dev.yaml
