client_secret.json
*/.*session
*/__pycache__
*.pyc
*~
data.txt
*.ics
.idea/
.vscode
venv
.env
.python-version

*.pdf
Academic_Cal-j/**
final.json

# auto login
erpcreds.py
token.json
credentials.json
.session
