client_secret.json
*/.*session
*/__pycache__
*.pyc
*~
data.txt
*.ics
.idea/
.vscode
venv
.env
.python-version

ACADEMIC_CALENDAR_*.pdf
Academic_Cal-j/**
final.json
erpcreds.py

# auto login
erpcreds.py
token.json
credentials.json
.session
