.header {
    @include flexbox(column, center, center, 0);
    margin-bottom: 2rem;
    .header-logo {
        img {
            width: 100%;
            height: auto;
        }
    }
    .header-title {
        font-size: 2rem;
        line-height: 1;
        #word {
            font-family: $cursive-font;
            font-size: 3.5rem;
        }
    }
}
